# UE5 generated / cache directories
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# IDE
.vs/
.idea/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio config helper
.vsconfig

# OS
Thumbs.db
.DS_Store
